@media (min-width: 1581px) {
  .footer-mobile {
    display: none;
  }
}

@media (max-width: 1780px)  {

  .home .informacoes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  letter-spacing: 2px;
  padding: 0 15px;
  max-width: 100%;
}

.home .informacoes h1 {
  font-family: "Haleway", sans-serif;
  font-size: 32px;
  margin-bottom: 45px;
  text-align: center;
}

.home .informacoes p {
  font-family: "Haleway", sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}
}



@media (max-width: 1280px) {
  body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  }

  .container {
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .projetos .btn-subir {
    background: none;
    border: 1px solid #fff;
    border-radius: 12px;
    color: #fff;
    width: 75px;
    padding: 16px;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .projetos .btn-mostrar-projetos {
    background: none;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #fff;
    width: 102px;
    height: 55px;
    font-size: 15px;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .cabecalho {
    padding: 15px;
    flex-direction: column;
    align-items: center;
  }

  .cabecalho .logo img {
    width: 195px;
    height: auto;
  }

  .cabecalho .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
  }

  .cabecalho .menu ul li a {
    font-size: 17px;
    text-align: center;
  }

  .carousel {
    position: relative;
    height: 300px;
    max-width: 850px;
    margin: 40px auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carrosel-imagens-historia .img-container {
    width: 22%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer {
    display: none;
  }

  .footer-mobile {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(8, 3, 36, 0.7);
    color: white;
    text-align: center;
    padding: 13px 0;
    font-family: Arial, sans-serif;
    font-size: 11px;
    z-index: 1000;
    opacity: 0.5;
    transition: opacity 1.5s ease;
  }

  .footer-mobile:hover {
    opacity: 1;
  }

  .footer-mobile-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer-mobile p {
    margin: 8px;
  }

  .home {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: -135px;
  }

  /* .home .carrosel-imagens-historia{
    margin: auto 1px;
  } */

  .home .container-foto .foto {
    max-width: 150px;
    border-radius: 50%;
  }

  .home .informacoes {
    max-width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 30px;
  }

  .home .informacoes h1 {
    font-size: 21px;
    margin-bottom: 5px;
  }

  .home .informacoes p {
    font-size: 18px;
    text-align: center;
    margin: 0 5px 5px;
  }

  .home .historia h1 {
    font-size: 33px;
  }

  .home .historia p {
    font-size: 19px;
    margin: 0 35px;
    text-align: center;
  }

  .minha-formacao {
    max-width: 100%;
    text-align: center;
  }

  .minha-formacao h1 {
    font-size: 25px;
  }

  .minha-formacao .tab-content p {
    font-size: 18px;
    margin: 2px;
    letter-spacing: 1.2px;
    line-height: 1.6;
  }

  .projetos .container-projetos {
    padding: 0 30px;
  }

  .tab-buttons {
    margin: 0 30px;
    text-align: center;
  }

  .tab-container p {
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
  }

  .tab-container .toggle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
  }

  .submenu {
    margin: 0 5px;
    font-size: 11px;
    text-align: center;
  }

  .submenu p {
    font-size: 13px;
    margin: 5px 10px;
    text-align: center;
  }

  .container-foto .foto1-minha-formacao {
    width: 100%;
    height: auto;
  }

  .tab-content h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .tab-content p {
    font-size: 22px;
    text-align: justify;
    text-indent: 41px;
    line-height: 1.5;
  }

  .tab-link {
    font-size: 14px;
    width: 70%;
  }

  .minha-formacao .meus-contatos h1 {
    margin-top: 45px;
    text-align: center;
    font-size: 25px;
  }

  .timeline {
    max-width: 800px;
    margin: 0 auto;
  }

}






@media (max-width: 600px) {
  
.cabecalho {
    margin-bottom: 0;
}

  .cabecalho {
    padding: 0px;
  }

  .container{
    padding: 0px;
  }

  .carrosel {
    display: flex;
    justify-content: center;  
    align-items: flex-start; 
    gap: 5px;                 
    flex-wrap: nowrap;       
    overflow-x: auto;         
  }

   .carrosel-imagens-historia .img-container {
    flex: 0 0 auto;   
    width: 120px;
    height: 200px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .container-foto {
  margin: 0px 2px;
  }
  

  .home{
    margin-top: -135px;
  }

  .home .informacoes p{
    font-size: 16px;
    line-height: 1.7; 
  }

  .home .informacoes h1{
    font-size: 19px;
  }


    .home .historia p {
    font-size: 16px;
    text-align: center;
    margin: auto 2em;
    margin-bottom: 10px;
  }

   .legenda {
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
  }
  .cabecalho .logo{
    margin-top: 20px;
  }

  .meus-contatos {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }

  .meus-contatos li a i {
    font-size: 2rem;
    transition: transform 0.3s;
  }

  .meus-contatos li a:hover i {
    transform: scale(1.2);
  }

  .timeline-content {
  margin: 19px 10px;
}

.timeline-section h2{
  margin: auto 1px;
}

.projetos .titulo {
  padding: 2px 5px;
  margin-bottom: 20px;
}
}






@media (min-width: 701px) and (max-width: 1291px) {
.home .tecnologias-utilizadas img {
  border: 1 px solid #fff;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 26px;
  transition: 0.4s;
}
}




@media (min-width: 431px) and (max-width: 700px) {

.home .informacoes h1{
  margin-top: 130px;
}
 .home h2{
  font-size: 18px;
  margin-top: 7px;
  margin-bottom: 1px;
 }

 .home .informacoes {
    margin-top: 90px;
  }

  .home .informacoes h1{
    margin-top: 72px;
    background-color: red;
  }
}





@media (max-width: 430px) {
  
  .cabecalho {
    padding: 1px;
    flex-direction: column;
    align-items: center;
  }

  .cabecalho .menu {
    flex-direction:column;
    width: 80%;
    justify-content: center;
  }

  .cabecalho .menu ul li a {
    font-size: 19px;
    display: inline-table;
    margin: 0 auto;
    flex-wrap: wrap;
  }

    .home{
    margin-top: 20px;
  }

  .home h2 {
  margin-bottom: 0px;
  margin-top: 1px;
  margin-bottom: 0px;
  font-size: 19px;
}

  .home .informacoes {
    margin-top: 60px;
  }

  .home .informacoes .redes-sociais{
    margin-top: 0px;
      border: 1 px solid #fff;
      width: 50px;
      height: 50px;
      text-align: center;
      font-size: 26px;
      transition: 0.4s;
  }

  .home .historia {
    width: 90%;
    text-align: center;
  }

  .home .historia h1 {
    font-size: 19px;
    margin-top: 20px;
  }

  .home .historia p {
    font-size: 14px;
    text-align: center;
  }

  .home .tecnologias-utilizadas{
    margin-top: 0px;
  }

  .home .container-foto img {
    margin-top: 5px;
    max-width: 320px;
  }

  .projetos .container-projetos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
  }

  .projetos .container-projetos .logos-aplicativos {
    width: 170px;
  }

  .projetos .container-projetos h3,
  .projetos .container-projetos p {
    font-size: 10px;
    padding: 0 5px;
  }

  .tab-buttons {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto 30px;
  }

  .tab-link {
    font-size: 14px;
  }
}
