
@media(max-width:1280px) {

    .cabecalho {
        padding: 15px; 
        flex-direction: column; 
        align-items: center; 
    }

    .menu{
        margin-top: 30px;
    }

    .home{
        flex-direction: column;
        align-items: center;
        margin: 60px 0;
        gap: 30px;
    }

    .home .informacoes{
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .home .historia{
        max-width: 100%;
        text-align: center;
        align-items: center;
        max-width: 87%;
    }

    .projetos .container-projetos{
        padding: 0 30px;
    }
    .home .container-foto{
       padding-top: auto;
       margin-bottom: auto;
    }
    
}

@media(max-width: 425px) {

    .home .informacoes h1{
        font-size: 30px;
    }

    .home .historia{
        max-width: 450px;
    }

    .home .informacoes p{
        font-size: 16px;
    }

    .home .historia p{
        font-size: 16px;
        max-width: 80%;
    }

    .home .container-foto img{
        margin-top: 5px;
        max-width: 320px;
    }

    .historia .container-foto1 img{
        margin-top: 5px;
        margin-right: 50px;
    }

    .projetos{
    padding: 30px;
    }
}