
@media(max-width:1280px) {

    body {
        font-family: "Poppins", Sans-serif;
        margin: 0 30px;
        max-width: 1120px;
        background: #624870;
    }

    .projetos .btn-subir {
        background: none;
        border: 1px solid #fff;
        border-radius: 12px;
        color: #fff;
        width: 75px;
        padding: 16px;
        font-size: 14px;
        font-weight: 600;
        margin: 0; 
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: fixed; 
        right: 20px; 
        top: 50%; 
        transform: translateY(-50%); 
        z-index: 1000; 
    }
    
    .cabecalho {
        padding: 15px; 
        flex-direction: column; 
        align-items: center; 
    }

    .menu{
        margin-top: 30px;
    }

    .home{
        flex-direction: column;
        align-items: center;
        margin: 60px 0;
        gap: 30px;
    }

    .home .informacoes{
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .home .historia{
        max-width: 100%;
        text-align: center;
        align-items: center;
        max-width: 87%;
    }

    .minha-formacao h1 {
        font-size: 35px;
    }

    .projetos .container-projetos{
        padding: 0 30px;
    }
    .home .container-foto{
       padding-top: auto;
       margin-bottom: auto;
    }

    .tab-buttons {
        flex-direction: column; 
        align-items: center;
        text-align: center;
        width: fit-content;
        margin: 0 30px 30px;
        min-height: min-content;
    }
    
    .tab-link {
        font-size: 1555px; 
        text-align: center;
        
    }

    
}

@media(max-width: 425px) {

    body {
        font-family: "Poppins", Sans-serif;
        margin: 0 25px;
        max-width: 1120px;
        background: #624870;
    }
    

    .cabecalho {
        padding: 1px; 
        flex-direction:column; 
        align-items: center; ; 
    }

    .cabecalho .menu ul li a{
        flex-direction:unset;
        font-size: 19px;
        align-items:end;
        display:inline-table;
        margin: 0 auto;    }

    .home{
        margin-top: 35px;
    }

    .home .informacoes h1{
        font-size: 30px;
    }

    .home .historia{
        max-width: 450px;
    }

    .home .informacoes p{
        font-size: 16px;
    }

    .home .historia p{
        font-size: 16px;
        max-width: 80%;
    }

    .home .container-foto img{
        margin-top: 5px;
        max-width: 320px;
    }

    .historia .container-foto1 img{
        margin-top: 5px;
        margin-right: 50px;
    }

    .minha-formacao h1 {
        font-size: 28px;
    }

    .projetos{
    padding: 30px;
    }

    .tab-buttons {
        flex-direction: column; 
        align-items:center;
        text-align:center;
        width:fit-content;
        margin: 0 30px 30px;
        min-height:min-content;
    }

    .tab-link {
        font-size: 14px; 
        font-size: 1555px; 
    }
}